header{
  background-color: #ddd;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1520px;
  margin: auto;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}
.logo{
  font-size: 26px;
  font-weight: 700;
  color: #333;
}
nav ul{
  list-style: none;
}
nav ul li{
  display: inline;
  margin: 0 10px;
}
nav ul li a{
  color: #333;

}
a{
  text-decoration: none;
}

/* Hero Section Start */
.container{
   max-width: 1520px;
  margin: auto;
}

/* Hero Section End */


@media(max-width: 1440px){
header .container, .container{
  max-width: 1260px;
  margin: auto;
}
}